body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

div.header {
  width: 100%;
  margin: 0;
  padding: 10px 30px;
  background: #666a86;
  color: #fff;
  font-size: 32px;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fff;
}

ul.navbar > li {
  float: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

ul.navbar > li > a {
  display: block;
  color: #000;
  text-align: center;
  padding: 6px 25px;
  text-decoration: none;
}

ul.navbar > li > a:hover:not(.active) {
  background-color: #788aa3;
  color: #fff;
}

ul.navbar > li > a.active {
  background-color: #666a86;
  color: #fff;
}

div.layer-editor-container {
  width: 50%;
  margin: 20px auto;
}

div.layer-editor {
  border: 1px solid black;
  
  width: 100%;
  margin: 0;
  background: #fff;
}

div.layer-editor:last-child {
  margin-bottom: 30px;
}

div.layer-editor-header {
  background: #666a86;
  padding: 6px 10px;
  color: #fff;
  border-bottom: 1px solid black;
}

div.layer-editor-content {
  padding: 10px 10px;
  line-height: 1.7em;
  overflow: hidden;
}

div.layer-editor a {
  text-decoration: none;
  color: #fff;
}

.button {
  background-color: #fff;
  border: 1px solid black;
  padding: 5px 10px;
  margin: 10px;
  margin-left: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background: #666a86;
  color: #fff;
}

.x {
  padding-left: 20px;
}

.form-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

input.form {
  padding: 3px 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
  margin: 2px 5px;
}

input.form:focus {
    border: 1px solid #000;
}

.select {
  padding: 3px 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
  margin: 2px 5px;
  background: #fff;
}

div.chevron {
  margin: 0 auto;
  margin-bottom: 5px;
  text-align:center;
  font-size: 32px;
  color: #888;
}

.u-pad-right {
  float: right;
}

.u-uppercase {
  text-transform: uppercase;
}